

/* ==========================================================================
   our custom styles  -- applies to all pages
   ========================================================================== */




/**************
 clear divisions
**************/
.clearfix {
    display: inline-block;
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    font-size: 0;
    visibility: hidden;
}

/* Hides from IE-mac \*/
.clearfix {
    display: block;
}

.clearfix {
    clear: both;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: " "
}

/**************
 cursors
**************/
.pointer{
    cursor:pointer
}
/**************
 width control
**************/
.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.quarter-width {
    width: 25%;
}

.three-quarter-width {
    width: 75%;
}