@charset "utf-8";
/* CSS Document */
@-ms-viewport {
    width: device-width;
}

.hidden {
    display: none;
    visibility: hidden;
}

.visible-phone {
    display: none !important;
}

.visible-tablet {
    display: none !important;
}

.hidden-desktop {
    display: none !important;
}

.visible-desktop {
    display: inherit !important;
}

.visible-print {
    display: none !important;
}

@media print {
    .visible-print {
        display: inherit !important;
    }

    .hidden-print {
        display: none !important;
    }
}

@media (min-width: 480px) {

}

@media (min-width: 768px) {


}

@media (min-width: 992px) {

}

/***
max widths
*/

@media (max-width: 1500px) {

  .carousel-inner .item h3
  {
    font-size:40px;
  }
  .carousel-inner h6{
    max-width:90%;
  }
  .navbar-right{
    margin-right: 30px;
  }
}

@media (max-width: 1024px) {

  .navbar-right{
    margin-right: 10px;
  }
  .carousel-inner .item h3
  {
    font-size: 33px;
  }
  .carousel-inner h6{
    max-width:90%;
  }
}
@media (max-width: 800px) {

  .carousel-inner .item h3
  {
    font-size:45px;
  }
  .navbar-right{
    margin-right: 12px;
  }

  .carousel-caption
  {
    top : 45px;

  }

  .carousel-inner .item h3
  {
    font-size:33px;
  }
  .carousel-inner h6{
    max-width:90%;
  }

  .main h1{
    font-size:36px;
    padding-top:12px;

  }
}

@media (max-width: 767px) {

  /** Navigation Bar */


  .navbar{
    text-align: right;
    float: right;
  }
  .navbar-nav{

  }

   .navbar-collapse {
    background-color: #19303f;
    width: 200px;
    float: right;
    padding: 0;
    text-align: right;
  }

  .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a,
  .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover
  {
    padding-top:5px;
    border: 0;
  }
  .navbar-default .navbar-nav > li > a
  {   margin-left:33px;
  }




  .carousel-caption
  {
    top : 30px;

  }

  .carousel-inner .item h3
  {
    font-size:27px;
  }


  .main h1{
    font-size:32px;
    padding-top:12px;

  }

}

@media (max-width: 480px) {

  .carousel-inner .item h3
  {
    font-size:16px;
  }

  .main h1{
    font-size: 32px;
  }


  .carousel-caption
  {
    top : 5px;
    left:5px;
    right:5px;

  }

  .contact img
  {
    width:200px;
  }
  .form-group {
    overflow: hidden;
  }
  .contact form {
    padding-top: 30px;
  }
  .contact div{
    padding-right:0;
    padding-left:0;
  }
}


