@charset "utf-8";
/* CSS Document */
@-ms-viewport {
    width: device-width;
}

.hidden {
    display: none;
    visibility: hidden;
}

.visible-phone {
    display: none !important;
}

.visible-tablet {
    display: none !important;
}

.hidden-desktop {
    display: none !important;
}

.visible-desktop {
    display: inherit !important;
}

.visible-print {
    display: none !important;
}

@media print {
    .visible-print {
        display: inherit !important;
    }

    .hidden-print {
        display: none !important;
    }
}

@media (min-width: 480px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1441px) {

}

/***
max widths
*/
@media (max-width: 1800px) {


}

.youtubevideoPlayer{
    height: 400px;
}

@media (max-width: 1500px) {

    .carousel-inner .item h3 {
        font-size: 36px;
    }

    .carousel-inner .item h4 {
        font-size: 30px;
    }

    .carousel-inner .item h5 {
        font-size: 20px;
    }

    .carousel-inner h6 {
        max-width: 90%;
    }

    .navbar-right {
        margin-right: 30px;
    }
}

@media (max-width: 1200px) {

    .youtubevideoPlayer{
        height: 400px;
    }

    .main h1 {
        font-size: 30px;
    }

    .main h2 {
        font-size: 28px;
    }

    .main h3 {
         font-size: 26px;
     }

    .main h4 {
        font-size: 22px;
    }

    .navbar-right {
        margin-right: 10px;
    }

    .carousel-inner .item h3 {
        font-size: 30px;
    }

    .carousel-inner .item h4 {
        font-size: 28px;
    }
    .carousel-inner .item h5 {
        font-size: 18px;
    }
    .carousel-inner .item h6 {
        font-size: 16px;
    }
    .carousel-inner h6 {
        max-width: 90%;
    }

    .full-width .row {
        margin: auto;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .inner {
        padding-bottom: 20px;
        padding-top: 20px;
    }

    #agilelab .modules .fa{
        font-size:95px;
    }

    #agilelab .modules h2{
        height: 40px;
    }

    #agilelab .modules p{
    }

    .noheightinsmall{
        height:20px;
    }
}

@media (max-width: 900px) {

    .youtubevideoPlayer{
        height: 400px;
    }

    .carousel-inner .item h3 {
        font-size: 28px;
    }

    .carousel-inner .item h4 {
        font-size: 26px;
    }
    .carousel-inner .item h5 {
        font-size: 16px;
    }
    .carousel-inner .item h6 {
        font-size: 14px;
    }

    .navbar-right {
        margin-right: 12px;
    }
/*
    .carousel-caption {
        top: 45px;

    }
*/
    .carousel-inner h6 {
        max-width: 90%;
    }

    .main h1 {
        font-size: 28px;
    }

    .main h2 {
        font-size: 26px;
    }

    .main h3 {
        font-size: 24px;
    }

    .main h4 {
        font-size: 20px;
    }

    .navbar-collapse.collapse {
        height: 1100px !important;
    }

    #agilelab .modules .fa{
        font-size:95px;
    }

    #agilelab .modules h2{
        height: 40px;
    }

    #agilelab .modules p{
    }
}

@media (max-width: 767px) {
   /* .carousel-caption {
        top: 30px;

    }
*/
    .youtubevideoPlayer{
        height: 300px;
    }

    .carousel-inner .item h3 {
        font-size: 24px;
    }

    .carousel-inner .item h4 {
        font-size: 22px;
    }

    .carousel-inner .item h5 {
        font-size: 14px;
    }
    .carousel-inner .item h6 {
        font-size: 12px;
    }
    .main h1 {
        font-size: 26px;
    }

    .main h2 {
        font-size: 24px;
    }

    .main h3 {
        font-size: 22px;
    }

    .main h4 {
        font-size: 18px;
    }

    .navbar-collapse.collapse {
        height: 1100px !important;
    }
    .full-width .row {
        margin: auto;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .inner {
        padding-bottom: 10px;
        padding-top: 10px;
    }

}

@media (max-width: 600px) {

}

@media (max-width: 550px) {

    .youtubevideoPlayer{
        height: 220px;
    }

    .g-recaptcha {
        transform: scale(0.7);
        transform-origin: 0;
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;

    }

    .carousel-inner .item h3, .iTopMenu h3 {
        font-size: 16px;
    }

    .carousel-inner .item h4 {
        font-size: 16px;
    }

    .carousel-inner .item h5 {
        font-size: 12px;
    }
    .main h1, .iTopMenu h1 {
        font-size: 28px;
    }
    .carousel-inner .item h6 {
        font-size: 12px;
    }

    .main h1 {
        font-size: 22px;
    }

    .main h2 {
        font-size: 20px;
    }

    .main h3 {
        font-size: 18px;
    }

    /*
        .carousel-caption {
            top: 5px;
            left: 5px;
            right: 5px;

        }
    */
    .contact img {
        width: 200px;
    }

    .form-group {
        overflow: hidden;
    }

    .contact form {
        padding-top: 30px;
    }

    .contact div {
        padding-right: 0;
        padding-left: 0;
    }

    .navbar-collapse.collapse {
        height: 1100px !important;
    }

    #agilelab .modules .fa{
        font-size:64px;
    }

    #agilelab .modules h2{
        height: 30px;
    }

    #agilelab .modules p{
    }

    #agilelab .modules .microservices-architecture p{
    }

    .noheightinsmall{
        height:80px;
    }
}

@media (max-width: 480px) {

}


@media (max-width: 350px){
    .youtubevideoPlayer{
        height: 130px;
    }
}
/**

@media (min-width: 768px) and (max-width: 1010px)
 */

@media (max-width: 1200px) {

    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        padding-top: 17px;
    }

    .navbar-header {
        float: right;
        position: absolute;
        right: 5px;
    }

    .navbar-default .navbar-toggle {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        color: white;
    }

    /** Navigation Bar */
    .navbar-collapse a.navbar-brand {
        margin-bottom: 30px;
    }

    .logo {
        width: 120px;
        margin-right: 23px;
    }

    .navbar {
        text-align: right;
        float: right;
    }

    .navbar-collapse {
        background-color: #19303f;
        width: 250px;
        float: right;
        padding: 0;
        text-align: right;
        height: 550px !important;

        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    /*.navbar-collapse.collapse {*/
        /*height: 550px !important;*/
    /*}*/

    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a,
    .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
        padding-top: 5px;
        padding-bottom: 12px;
        border: 0;

        border-bottom: 1px solid gray;
        border-radius: 0;
    }

    .navbar-default .navbar-nav > li > a {
        margin-left: 33px;
    }

    .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
        margin-left: -15px;
        margin-right: -15px;
    }

    .collapse {
        display: none !important;
    }

    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }

    .navbar {
        text-align: right;
        float: right;
    }



  .navbar-toggle {
    display: block;
  }

  .navbar-default .navbar-toggle:hover
  {
    background: none ;
    color:white;
  }

  .navbar-default .navbar-toggle:hover .icon-bar{
    background-color:white ;
  }

  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background: none ;

  }

  .collapse-clearfix{
    clear: both;
  }
}
