<div class="container inner">
	<div class='form' ng-controller="changeSecurityCtrl as formCtrl">
		<div ng-show="alerts && alerts.length > 0">
			<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
				{{alert.msg}}
			</alert>
			<br/>
		</div>

		<div class="t-right">
			<a ng-click="changeEmail();" href="">Chang Email</a> |
			<a ng-click="changePassword();" href="">Change Password</a>
		</div>
	</div>
	<br>
	<div class='form' ng-controller="myAccountCtrl as formCtrl">
		<ngform></ngform>
	</div>

</div>
