<div class="page full-widt" ng-controller="homePageCtrl">
  <!-- digital Vortex -->
  <div id="vortex" class="page-section">
    <div class="container full-width hintRed gray-txt">
      <div class="row vortex">
        <div class="col-lg-12">
          <h1 class="gray-txt ">Why digital agility</h1>
          <h2 class="comet-txt ">Surviving the disruption</h2>
          <div class="Casablanca underline pull-left "></div>
          <div class="clearfix"></div>
        </div>
        <div class="col-lg12">
          <div class="col-lg-6 col-md-12">

            <p class="bold">
              A change is happening and the digital vortex will disrupt every single industry. Your
              only way to survive the turmoil is to platform. Enterprise Platform is represented by
              all
              technological building blocks that are used as a foundation on which to build a large
              number
              of innovative services or products.
            </p>
            <ul class="check comet-txt kimberly-bullet">
              <li>You want to innovate and fast, you dream
                of launching new products or services within a click.
              </li>
              <li>You have great ideas but Technology, speed
                and
                cost are a show stopper instead of enabler.
              </li>
              <li>You have legacy systems that are preventing you to move fast.
              </li>
              <li>You don’t have the knowledge; there are
                too
                many possibilities and the solutions are evolving too fast.
              </li>
              <li>Your technology team spends too much time
                building components with little value (as a differentiator) for your product
                (security,
                oAuth, ACL, Admin Management, Dashboard, etc.)
              </li>
              <li>You look for Enterprise Solutions to help
                you
                transform, but it costs too much money and doesn’t give you the velocity you need.
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <h3 class="vortex wedgewood-txt full-width text-center">
              The digital vortex will disrupt every single industry
            </h3>
            <img ng-src="images/vortex.png" class="my-image" alt="vortex" style="width:100%"/>
          </div>


          <div class="col-lg-12 text-center">
            <a type="button" class="btn Casablanca gray-txt comet-hover white-txt-hover"
               href="/disruption?anchor=top">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- kpi -->
  <div id="why" class="page-section container full-width white-txt comet-txt kpi">
    <div class="row">

      <div class="col-lg-5 col-md-12 ">
        <div class="col-lg-6 col-md-6 box">
          <i class="fa icon-roi kimberly-txt" aria-hidden="true"></i>
          <h3 class="saffron-txt ">ROI</h3>
          <p class="kimberly-txt">
            No license cost and no need for an army of engineers to keep up with your product
            roadmap
          </p>
        </div>
        <div class="col-lg-6 col-md-6 box">
          <i class="fa icon-velocity kimberly-txt" aria-hidden="true"></i>
          <h3 class="saffron-txt ">SPEED</h3>
          <p class="kimberly-txt">
            Focus on building the business logic of your product and accelerate time to market
          </p>
        </div>
        <div class="col-lg-6 col-md-6 box">
          <i class="fa  icon-quality kimberly-txt" aria-hidden="true"></i>
          <h3 class="saffron-txt ">QUALITY</h3>
          <p class="kimberly-txt">
            Leverage our mature core to guarantee the best SLA, quality infrastructure and scale
          </p>
        </div>
        <div class="col-lg-6 col-md-6 box">
          <i class="fa icon-globalization kimberly-txt" aria-hidden="true"></i>
          <h3 class="saffron-txt ">STANDARDIZATION</h3>
          <p class="kimberly-txt">
            Use our “Standardized by design” core to automate and meet your delivery dates
          </p>
        </div>
      </div>
      <div class="col-lg-1 visible-lg"></div>
      <div class="col-lg-6 col-md-12">
        <h1 class="gray-txt">We give you digital agility</h1>
        <h2 class="santasGray-txt ">Helping you deliver</h2>
        <div class="Casablanca underline pull-left "></div>
        <div class="clearfix"></div>
        <p>
          “<b class="bold">Digital business agility</b>, is the capability companies must develop in
          order to
          use digital business models to create new forms of value and thrive during the
          Disruption.“
        </p>
        <p class="bold">We give you Digital Agility by helping you build your Platform
          Enterprise. </p>
	      <p>We offer a Complete and Fully Adaptable Cloud-Native Enterprise Platform for building, deploying, and optimizing your applications dramatically faster.</p>
	      <p>Our platform is the richest integrated and harmonized platform on the market covering all of your development pipeline needs from Framework, API Management & Lifecycle, and Continuous Integration & Delivery to Metrics. It also adapts to enterprise legacy solutions.</p>
      </div>

      <div class="col-lg-12 text-center">
        <a type="button" class="btn Casablanca gray-txt comet-hover white-txt-hover"
           href="/digital?anchor=top">Learn More</a>
      </div>
    </div>
  </div>

  <!-- Benefits -->
  <div id="benefits" class="page-section container full-width comet white-txt">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <h1 class="white-txt ">Your Benefits</h1>
        <h2 class="santasGray-txt ">We do the heavy lifting!</h2>
        <div class="Casablanca underline pull-left "></div>
        <div class="clearfix"></div>
        <ul class="check anzac-bullet">
          <li>You become Lean &amp; Mean</li>
          <li>Accelerate time to market and increase Annual Revenue Per User
          </li>
          <li>Guarantee quality, reusability and reliability of your technology
          </li>
          <li>All that at a lower cost</li>
        </ul>
        <p>
          Our solution takes care of all the gears
          needed to build your Platform
          Enterprise so you focus on the
          business <span class="pink">“Click. Click. You’re done. It’s that easy &trade;”</span>
        </p>
      </div>
      <div class="col-lg-6">
        <img ng-src="images/gears-sm.png" alt="gears" data-toggle="modal" data-target="#gear_modal"
             class="my-image pointer" style="width:100%">
        <div data-toggle="modal" data-target="#gear_modal" class="my-image pointer"
             style="margin-top:20px; text-align: center; font-size: 14px;">Click to zoom in and see
          all the gears
        </div>
      </div>


    </div>
  </div>

  <!-- Focus -->
  <div id="no_barrier" class="page-section container full-width white comet-txt">
    <div class="row focus">
      <div class="col-lg-12">
        <h1 class="gray-txt">With Us -- No Barrier to Digitization</h1>
        <h2 class="santasGray-txt ">Transform in minutes</h2>
        <div class="Casablanca underline pull-left "></div>
        <div class="clearfix"></div>

        <p class="bold comet-txt">
          Do not let the burden imposed on you by other technologies scare you away from
          transforming and achieving
          digital business agility.
        </p>
      </div>
      <div class="col-lg-12">
        <div class="col-lg-8 col-xs-8"></div>
        <div class="col-lg-2 col-xs-2">We</div>
        <div class="col-lg-2 col-xs-2">Others</div>
        <div class="athensGray pull-left full-width thick"></div>
        <div class="clearfix"></div>
        <div class="col-lg-12 col-xs-12 kimberly-txt"><b>Framework Freedom</b></div>
        <div class="col-lg-8 col-xs-8">
          <p>Do not disrupt engineers by imposing new framework. This will kill agility. We
            seamlessly work with nodejs,
            java, php, ruby, …. and many more</p>
        </div>
        <div class="col-lg-2 col-xs-2"><i class="fa fa-check anzac-txt" aria-hidden="true"></i>
        </div>
        <div class="col-lg-2 col-xs-2"><i class="fa fa-times comet-txt" aria-hidden="true"></i>
        </div>

        <div class="athensGray pull-left full-width thick"></div>
        <div class="clearfix"></div>
        <div class="col-lg-12 col-xs-12 kimberly-txt"><b>API management & Lifecycle</b></div>
        <div class="col-lg-8 col-xs-8">
          <p>Build homogen API catalog by leveraging what you have. Do not start from scratch</p>
        </div>
        <div class="col-lg-2 col-xs-2"><i class="fa fa-check anzac-txt" aria-hidden="true"></i>
        </div>
        <div class="col-lg-2 col-xs-2"><b>SOME</b>
        </div>

        <div class="athensGray pull-left full-width thick"></div>
        <div class="clearfix"></div>
        <div class="col-lg-12 col-xs-12 kimberly-txt"><b>Multi tenant API</b></div>
        <div class="col-lg-8 col-xs-8">
          <p>Create economy of scale and accelerate time to market. Reusability is profitability</p>
        </div>
        <div class="col-lg-2 col-xs-2"><i class="fa fa-check anzac-txt" aria-hidden="true"></i>
        </div>
        <div class="col-lg-2 col-xs-2"><i class="fa fa-times comet-txt" aria-hidden="true"></i>
        </div>

        <div class="athensGray pull-left full-width thick"></div>
        <div class="clearfix"></div>
        <div class="col-lg-12 col-xs-12 kimberly-txt"><b>Container technology agnostic</b></div>
        <div class="col-lg-8 col-xs-8">
          <p>Do not limit yourself to proprietary technologies. Take advantage of kubernetes, swarm
            and other container
            technologies</p>
        </div>
        <div class="col-lg-2 col-xs-2"><i class="fa fa-check anzac-txt" aria-hidden="true"></i>
        </div>
        <div class="col-lg-2 col-xs-2"><i class="fa fa-times comet-txt" aria-hidden="true"></i>
        </div>

        <div class="athensGray pull-left full-width thick"></div>
        <div class="clearfix"></div>
        <div class="col-lg-12 col-xs-12 kimberly-txt"><b>Cloud & technology agnostic</b></div>
        <div class="col-lg-8 col-xs-8">
          <p>Leverage any cloud provider as well as you own private cloud. Move any system you have
            on the cloud in
            minutes</p>
        </div>
        <div class="col-lg-2 col-xs-2"><i class="fa fa-check anzac-txt" aria-hidden="true"></i>
        </div>
        <div class="col-lg-2 col-xs-2"><i class="fa fa-times comet-txt" aria-hidden="true"></i>
        </div>

        <div class="athensGray athensGray-txt pull-left full-width thick"></div>
        <div class="clearfix"></div>
        <div class="col-lg-12 col-xs-12 kimberly-txt"><b>Continuous Integration Continuous
          Delivery</b></div>
        <div class="col-lg-8 col-xs-8">
          <p>Release with a click of button. Speed Speed Speed</p>
        </div>
        <div class="col-lg-2 col-xs-2"><i class="fa fa-check anzac-txt" aria-hidden="true"></i>
        </div>
        <div class="col-lg-2 col-xs-2"><b>SOME</b>
        </div>
      </div>
      <div class="col-lg-12 text-center" style="padding-top:20px;">
        <a type="button" class="btn Casablanca gray-txt comet-hover white-txt-hover"
           href="/digitization?anchor=top">Learn More</a>
      </div>
    </div>
  </div>

  <!-- Unique -->
  <div id="unique" class="page-section container full-width hintRed comet-txt">
    <div class="row unique">
      <div class="col-md-12">
        <h1 class="gray-txt ">Why are we Unique</h1>
        <h2 class="santasGray-txt ">Let's start delivering value</h2>
        <div class="Casablanca underline pull-left "></div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-6">
        <p>
          No competitors covers the full scope of your needs to build your Enterprise Platform - We
          offer the
          richest integrated and harmonized platform on the market.
        </p>
        <p>
          Our solution fits to all types of businesses (startups, small and large Enterprises) and
          is not limited to a
          particular business sector (Banking,
          Digital Payment, Trading Infrastructure and Logistics industries).
        </p>
        <p class="bold">
	        No one can do what we do
        </p>
	    <ul class="check comet-txt kimberly-bullet">
		    <li>Convert existing API into multi tenancy and create economy of scale by empowering reusability.</li>
		    <li>Work with any programing language and break all silos within the organization to achieve agility.</li>
		    <li>Change the showstopper image of IT departments by empowering them to drive innovation and execute better in a matter of weeks.</li>
	    </ul>
        <p class="bold">
          We will help you get rid of the pain and start delivering value
        </p>
      </div>
      <div class="col-md-6">
        <img ng-src="images/unique.png" class="my-image" alt="we are unique" style="width:100%"/>
      </div>

      <div class="col-lg-12 text-center" style="padding-top:20px;">
        <a type="button" class="btn Casablanca gray-txt comet-hover white-txt-hover"
           href="/modernize?anchor=top">Learn More</a>
      </div>

    </div>
  </div>

  <!-- products -->
  <div id="products" class="page-section co ntainer full-width comet white-txt products">
    <div class="row">
      <div class="col-md-12">
        <h1 class="white-txt ">Our Product</h1>
        <h2 class="santasGray-txt ">Stay ahead of the curve</h2>
        <div class="Casablanca underline pull-left "></div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-12">
        <p class="bold">We offer a Complete and Fully Adaptable Cloud-Native Enterprise Platform for building, deploying, and optimizing your applications dramatically faster. Our Product is the most complete Enterprise Application Development and Lifecycle Management Platform-as-a-Service with many rich harmonized features:</p>
        <div class="clearfix"></div>
		  <div ng-repeat="oneEntry in ourProductList" class="productList col-md-6 col-lg-4 col-sm-12 text-center">
			<div>
				<span class="{{oneEntry.icon}}"></span><br />
			</div>
			<label>{{oneEntry.title}}</label>
		  </div>
	      <div class="clearfix"></div>
	      <br />
	
	      <h3>Advantages</h3>
	      <div class="Casablanca underline pull-left "></div>
	      <div class="clearfix"></div>
          <div>
	        <p>We guarantee that what we build significantly increases stability/quality, standardization and ROI, while reducing time-to-market. No need to worry about the time and talent it’s going to take to do all the plumbing. Install our platform and you're up and running in 5 minutes. The most important part is that our platform is constantly evolving keeping you up-to-date. And all of that at a fraction of the cost of an engineer per year, By taking advantage of the following:</p>
          </div>
	
	      <div class="clearfix"></div>
	      <br />
	      <div class="clearfix"></div>
	      
	      <div ng-repeat="oneEntry in ourAdvantagesList" class="advantagesList col-md-6 col-lg-4 col-sm-12 text-center">
		      <div>
			      <span class="{{oneEntry.icon1}}"></span>&nbsp;&nbsp;<span class="{{oneEntry.icon2}}"></span>
		      </div>
		      <label>{{oneEntry.title}}</label>
	      </div>
      </div>
    </div>
  </div>


  <!-- Solution -->
  <div id="solution" class="page-section container full-width white gray-txt">
    <div class="row">
      <div class="col-md-12">
        <h1 class="gray-txt ">Our Platform</h1>
        <h2 class="santasGray-txt ">Offering unique features</h2>
        <div class="Casablanca underline pull-left "></div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-6">
        <p>Our platform “powered by SOAJS” is an enterprise Application Platform as a Service
          (APaaS) that
          enables all size of enterprises to accomplish a digital transformation seamlessly through
          a pain
          free technology upgrade by redefining an engineering culture without creating a culture
          clash.</p>
        <p>It empowers enterprises with the ability to digitize their technology eco system in order
          to improve
          internal and external product delivery and achieve greater ROI, Quality, Standardization
          and Speed
          through the provisioning of a platform for Development, API Lifecycle & Management,
          Deployment and
          Operations Dashboard.</p>
      </div>
      <div class="col-md-6">
        <p>It provides a stable and agile enterprise core that can immediately launch digital
          products and
          markets. It is infrastructure, software, code/language, cloud service agnostic, and can
          sit on top
          of and bridge to any legacy system without the need for extensive, time consuming,
          disruptive and
          expensive IT changes. Additions, modifications and new product launches can be made on the
          fly going
          forward and "Digital Darwinism" can be avoided.</p>
        <p class="bold">It is not sector limited - can be used in all types of businesses, whether
          long
          established or startups. </p>
      </div>

      <div class="col-md-12">&nbsp;</div>
      <div class="col-md-12 text-center">
        <img ng-src="images/soajs-pipeline.png" alt="soajs-pipeline" style="width:100%"/>
      </div>


      <div class="col-lg-12 text-center">
        <a type="button" class="btn Casablanca gray-txt comet-hover white-txt-hover"
           href="/platform?anchor=top">Learn More</a>
      </div>
    </div>
  </div>

  <!-- About -->
  <div id="about" class="page-section container full-width hintRed gray-txt">
    <div class="row">
      <div class="col-md-12">
        <h1 class="gray-txt ">About</h1>
        <h2 class="santasGray-txt ">We Understand your Pain</h2>
        <div class="Casablanca underline pull-left "></div>
        <div class="clearfix"></div>
      </div>

      <div class="col-md-6">
        <p>
          Innovation, Time-to-Market, Standardization, Speed, Speed, Speed and Fail Fast – these are
          just a
          few of the terms that you will hear from us.
        </p>
        <p>
          Our mission is to empower enterprises with the digital business agility required to
          respond quickly
          and effectively to emerging threats to their business, and proactively seize new market
          opportunities.
        </p>
        <p>
          Herron Tech has leveraged the SOAJS Open Source Platform to provide an array of turnkey
          software
          products that are designed to significantly increase stability, standardization and ROI,
          while
          decreasing valuable time-to-market.
        </p>
        <p>
          A couple years ago, we realized the majority of organizations, even the one we were part
          of, all had the same common problems.
          They had to innovate and adapt quickly to many changes in their market. In 2015 we went on
          a
          mission to build a smart solution to help enterprises of all sizes to achieve digital
          transformation
          in a quick and efficient way.
        </p>
      </div>


      <div class="col-md-6">
        <p>
          As a result we launched SOAJS; an open source application platform initiative built by
          engineers for
          engineers in a tactical way for rapid execution at all stages of the digital
          transformation. SOAJS
          was created by the founders of Herron Tech and is now supported by a global community.
        </p>
        <p>
          SOAJS is the only complete Enterprise Open Source aPaaS to build auto-scaling SOA based
          solutions to
          achieve digital transformation efficiently and seamlessly. SOAJS is maintained by
          top-notch
          engineers around the globe as an Open Source community today with the following values:
          Fast, Free, &
          Flexible.
        </p>

        <p>
          To make sure we are steering this initiative into the right direction, we worked closely
          with
          different enterprises from all sizes (from startups to billion dollar publicly traded
          enterprises)
          to help solve this complex problem in a versatile way. We can proudly say that we found
          the right
          solution that can be installed locally or on any cloud in just minutes.

        </p>
      </div>
    </div>
  </div>

  <!-- Contact -->
  <div id="contact" class="page-section container full-width comet white-txt contact">
    <div class="row">
      <div class="col-md-12">
        <h1 class="white-txt ">Contacts</h1>
        <h2 class="santasGray-txt ">We love to hear from you</h2>
        <div class="Casablanca underline pull-left "></div>
        <div class="clearfix"></div>
      </div>

      <div class="col-md-6">

        <div class="col-md-12 ">
          <p>90 Canal Street</p>
          <p>4th Floor</p>
          <p>Boston, MA 02114</p>
          <p>USA</p>
        </div>
        <div class="col-md-12">
          <a
            href="https://www.google.com.lb/maps/place/90+Canal+St,+Boston,+MA+02114,+USA/@42.3639703,-71.0621315,17z/data=!3m1!4b1!4m5!3m4!1s0x89e3708fba38b103:0x4da29a3e8c8135a0!8m2!3d42.3639703!4d-71.0599428"
            target="_new">
            <img src="../images/map.boston.png">
          </a>
        </div>
      </div>

      <div class="col-md-6">
        <div class="col-md-12">
	        <p>Barton Oaks Plaza</p>
	        <p>Building 1, Suite 300</p>
	        <p>Austin, Texas 78746</p>
	        <p>USA</p>
        </div>
        <div class="col-md-12">
          <a
		          href="https://www.google.com.lb/maps/place/Barton+Oaks+Plaza+One,+901+S+MoPac+Expy,+Austin,+TX+78746,+USA/@30.2644866,-97.7843084,17z/data=!3m1!4b1!4m5!3m4!1s0x8644b53256c8789b:0x9f73d50973124a6!8m2!3d30.2644982!4d-97.7821677?hl=en"
            target="_new">
            <img src="../images/map.oaks.png">
          </a>
        </div>
      </div>

      <!--<div class="col-md-4">-->
        <!--<div class="col-md-12">-->
          <!--<p>Street 6</p>-->
          <!--<p>Hage Building 498, Suite 100</p>-->
          <!--<p>Mansourieh, El metn</p>-->
          <!--<p>Lebanon</p>-->
        <!--</div>-->
        <!--<div class="col-md-12">-->

          <!--<a target="_new"-->
             <!--href="https://www.google.com.lb/maps/place/33%C2%B051'25.2%22N+35%C2%B034'24.0%22E/@33.8535307,35.5719586,15z/data=!4m6!3m5!1s0x151f3d64dcc95b4d:0x36ecfc5361b0cf24!7e2!8m2!3d33.857001!4d35.5733335?hl=en">-->
            <!--<img src="../images/map.leb.png"></a>-->
        <!--</div>-->
      <!--</div>-->

      <div class="col-md-2">&nbsp;</div>
      <div class="col-md-12">
        <h2 class="santasGray-txt ">Contact us for more information</h2>
        <div class="Casablanca underline pull-left "></div>
        <div id="contactform" class="page-section "><!-- Form here -->
          <div ng-show="alerts && alerts.length > 0">
            <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
              {{alert.msg}}
            </alert>
            <br/>
          </div>

          <form name="contactForm" novalidate ng-submit="contactForm.$valid && sendContact()">
            <div class="form-group">
              <input ng-model="contact.name" type="text" placeholder="Your Name"
                     class="form-control"
                     tooltip="Enter your full name..." required/>
            </div>
            <div class="form-group">
              <input ng-model="contact.email" type="email" class="form-control" placeholder="Email"
                     tooltip="Enter your email address..." required/>
            </div>


            <div class="form-group">
                        <textarea required class="form-control"
                                  placeholder="Write your message here..."
                                  tooltip="Provide as much information as possible in your message..."
                                  rows="10"
                                  ng-model="contact.message"></textarea>
            </div>

            <div class="col-md-12 col-sm-12 form-group">
              <div id="captcha1" class="pull-left g-recaptcha"  ></div>
              <input type="submit" class="btn anzac gray-txt white-txt-hover pull-right"
                     value="Submit" disabled/>
            </div>
            <br class="clearfix">
          </form>
        </div>
      </div>
      <div class="col-md-2">&nbsp;</div>


    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade comet" id="gear_modal" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content transparent">
      <div class="modal-header text-center">
        <button type="button" class="close Casablanca-txt white-txt-hover" data-dismiss="modal">
          Close &nbsp;&times;
        </button>
        <p class="white-txt">
          Our solution takes care of all the gears needed to build your Enterprise Platform so you
          focus on the business
          <br/>“Click. Click. Done. It’s that easy.”
        </p>
      </div>
      <div class="modal-body text-center">
        <img src="images/gears-bg.png" style="width:100%">
      </div>
      <div class="modal-footer">
        <!-- bottom message -->
      </div>
    </div>

  </div>
</div>
