<div class="iTopMenu">
  <div class="content overlay text-center white-txt">
      <h1>{{pageTitle}}</h1>

  </div>

</div>
<!-- Static navbar -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a href="#" class="scroll-link navbar-brand  hidden-sm hidden-xs " data-id="myCarousel">
                <img class="logo" ng-src="images/logo.png" alt="Herron Tech"/></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
                <li><a href="/?anchor=vortex">Digital Agility</a></li>
                <li><a href="/?anchor=benefits" >Why Herron</a></li>
                <li><a href="/?anchor=products">Our Products</a></li>
                <li><a href="/?anchor=about">About</a></li>
                <li><a href="/?anchor=contact">Contacts</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
</nav>

