<div class="iTopMenu" ng-class="{ 'solution': currentLocation==='/digital'  }">
	<div class="content overlay text-center white-txt">
		<h1>{{pageTitle}}</h1>

	</div>

</div>
<!-- Static navbar -->
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarInner" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div id="navbarInner" class="navbar-collapse collapse">

			<a href="/?anchor=top" class="navbar-brand">
				<img class="logo" ng-src="images/logo.png" alt="Herron Tech"/></a>
			<div class="collapse-clearfix"></div>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="/?anchor=products">Our Ecosystem</a></li>
				<li><a href="/?anchor=unique">Why Herron</a></li>
				<li><a href="/homeagility?anchor=top">Digital Agility</a></li>
				<li><a href="/?anchor=about">About</a></li>
				<li><a href="/?anchor=contact">Contact</a></li>
				<li><a href="/members">Member Area</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div><!--/.container-fluid -->
</nav>

