<!-- Static navbar -->
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarInner" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div id="navbarInner" class="navbar-collapse collapse">

			<a href="/?anchor=top" class="navbar-brand">
				<img class="logo" ng-src="images/logo.png" alt="Herron Tech"/>
			</a>
			<div class="collapse-clearfix"></div>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="/members/profile">My Profile</a></li>
				<li><a href="/members/projects">My Projects</a></li>
				<li><a href="/members/billing">Billing</a></li>
				<li><a href="" ng-click="logoutUser()">Logout</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div><!--/.container-fluid -->
</nav>