<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="20000">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
		<li data-target="#myCarousel" data-slide-to="3"></li>
		<li data-target="#myCarousel" data-slide-to="4"></li>
		<li data-target="#myCarousel" data-slide-to="5"></li>
		<li data-target="#myCarousel" data-slide-to="6"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">

		<div class="item active">
			<img src="../images/s1-delivering.jpg" alt="Los Angeles" style="width:100%;">
			<div class="carousel-caption">
				<h4>Struggling to deliver enterprise applications faster?</h4>
				<br/>
				<h5>Accelerate your release cycle with continuous integration & continuous delivery pipeline (CI/CD).</h5>
			</div>
		</div>
		<div class="item">
			<img src="../images/s2-money.jpg" alt="Chicago" style="width:100%;">
			<div class="carousel-caption">
				<h4>Are you struggling in growing and modernizing your IT infrastructure to accelerate time-to-market?
				</h4>
				<br />
				<h5>Harmonize and integrate your resources without the need to rebuild and re-skill.
				</h5>
			</div>
		</div>

		<div class="item">
			<img src="../images/s3-create.jpg" alt="New York" style="width:100%;">
			<div class="carousel-caption">
				<h4>Are you looking to create a microservices architecture and in need of a API management and lifecycle platform?
				</h4>
				<br />
				<h5>A complete and adaptable solution capable to support any framework while providing API productization, multi-tenancy, multi-layer security, cataloging, gateway, simulation, and modernize existing source code.
				</h5>
			</div>
		</div>

		<div class="item">
			<img src="../images/s4-time.jpg" alt="New York" style="width:100%;">
			<div class="carousel-caption">
				<h4>Are you living the silos nightmare that are preventing you from achieving agility and preventing you from moving fast?
				</h4>
				<br />
				<h5>Harmonize and modernize your IT infrastructure without re-skilling or re-inventing and no culture clash.
				</h5>
			</div>
		</div>

		<div class="item">
			<img src="../images/s5-change.jpg" alt="New York" style="width:100%;">
			<div class="carousel-caption">
				<h4>Are you struggling to survive the digital era and looking to build a digital agile lab to smoothly  and without frictions achieve digital transformation and stay in business?
				</h4>
				<br />
				<h5>Build multi-tenant, multi-version and multi-platform releases in a simplistic approach empowering any member of the enterprise.
				</h5>
			</div>
		</div>

		<div class="item">
			<img src="../images/s6-devops.jpg" alt="New York" style="width:100%;">
			<div class="carousel-caption">
				<h4>Are you spending most of your time doing DevOps and TechOps efforts?
				</h4>
				<br />
				<h5>Integrate and orchestrate multiple infrastructure and technologies in a simplistic and secured approach by forming a modernized distributed microservices architecture that unleashes speed and empowers any member of the enterprise.
				</h5>
			</div>
		</div>

		<div class="item">
			<img src="../images/s7-cloud.jpg" alt="New York" style="width:100%;">
			<div class="carousel-caption">
				<h4>Are you looking to go on the cloud but talent/time is hard to find and it is painful as well as costly to orchestrate and manage multiple cloud?
				</h4>
				<br />
				<h5>Orchestration multi-cloud in a simplistic approach by creating custom environments, per product, per department, per team, per resource, and per technology.
				</h5>
			</div>
		</div>


	</div>

	<!-- Left and right controls-->
	<a class="left carousel-control" href="#myCarousel" data-slide="prev" ng-non-bindable>
		<span class="glyphicon glyphicon-chevron-left"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next" ng-non-bindable>
		<span class="glyphicon glyphicon-chevron-right"></span>
		<span class="sr-only">Next</span>
	</a>
</div>

<!-- Static navbar -->
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div id="navbar" class="navbar-collapse collapse">
			<a href="#" class="scroll-link navbar-brand" data-id="top">
				<img class="logo" ng-src="images/logo.png" alt="Herron Tech"/></a>
			<div class="collapse-clearfix"></div>

			<ul class="nav navbar-nav navbar-right">
				<li><a href="#" class="scroll-link" data-id="products">Our Ecosystem</a></li>
				<li><a href="#" class="scroll-link" data-id="unique">Why Herron</a></li>
				<li><a href="/homeagility?anchor=top">Digital Agility</a></li>
				<li><a href="#" class="scroll-link" data-id="about">About</a></li>
				<li><a href="#" class="scroll-link" data-id="contact">Contact</a></li>
				<li><a href="/store">Store</a></li>
				<li><a href="" ng-click="goToLogin()">Member Area</a></li>
			</ul>
		</div><!--/.nav-collapse -->

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

		</div>
	</div><!--/.container-fluid -->
</nav>

